<div class="custom-icon-bg">
<div class="custom-icon-bg-container page-width">
    <div class="Product-usp" data-odplacehold="icon-text">
    <div class="icon-text">
    <ul class="single-usp">
      {% for block in section.blocks %}
    <li class="single-usp__item {{ forloop.index }}-custom"> 
      <div class="image-block-icon">
     <img src="{{ block.settings.image-top | img_url:'master' }}">
      </div>
    <div class="wrapper"> 
      <h2 class="top-text-icon">{{ block.settings.text1 }}</h2>
{{ block.settings.text2 }}  </div> 
    </li>
      {% endfor  %}
    </ul>
    </div>
    </div>
</div>
</div>
{% schema %}
  {
    "name": "custom-text-icon",
    "settings": [],
       "blocks":[
      {
         "type": "image",
        "name":  "image",  
          "settings": [
            {
            "type": "image_picker",
            "id": "image-top",
            "label":  "Image"
            },
             {
            "type": "text",
            "id": "text1",
            "label":  "Add Text"
            },
            {
            "type": "richtext",
            "id": "text2",
            "label":  "Add Content"
            }
      
          ]
        
      }
     
    ],
     "presets": [
        {
        "name": "custom-text-icon",
        "category": "custom-text-icon"
        }
        ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}