<div class="container">
<div class="page-findus-stores">
  <div class="findus-storestitle">Stores</div>
  
  <div class="page-findus-stores-tb">
      <div class="table-wrapper">
        <table class="findus">
        <tbody>
          <tr>
            <th>STORE</th>
            <th>ADDRESS</th>
            <th>CITY</th>
            <th>STATE</th>
          </tr>
          
          <tr>
            <td>3 Sparrows Gifts + Baskets</td>
            <td>210 Brevard Avenue</td>
            <td>Cocoa</td>
            <td>FL</td>
          </tr>
          
          <tr>
            <td>A Lovely Universe</td>
            <td>97 Pinckney Rd</td>
            <td>Red Bank</td>
            <td>NJ</td>
          </tr>
          
          <tr>
            <td>A.L.C. Italian Grocery</td>
            <td>8613 3rd. Ave.</td>
            <td>Brooklyn</td>
            <td>NY</td>
          </tr>
          
          <tr>
            <td>ABC Carpet &amp; Home</td>
            <td>888 Broadway</td>
            <td>New York</td>
            <td>NY</td>
          </tr>
          
          <tr>
            <td>adorn</td>
            <td>103 North Buxton</td>
            <td>Indianola</td>
            <td>IA</td>
          </tr>
          
          <tr>
            <td>Baldwin's Market &amp; Parlor</td>
            <td>11450 Southeast Bush Street</td>
            <td>Portland</td>
            <td>OR</td>
          </tr>
          
          <tr>
            <td>Baleen</td>
            <td>1752 NW Market St #400</td>
            <td>Seattle</td>
            <td>WA</td>
          </tr>
          
          <tr>
            <td>Bavette La Boucherie</td>
            <td>330 E Menomonee Street</td>
            <td>Milwaukee</td>
            <td>WI</td>
          </tr>
          
          <tr>
            <td>Bearskin Neck Country Store</td>
            <td>40 Bearskin Neck</td>
            <td>Rockport</td>
            <td>MA</td>
          </tr>
          
          <tr>
            <td>Besame Mucho</td>
            <td>315 Petronia Street</td>
            <td>Key West</td>
            <td>FL</td>
          </tr>
          
          <tr>
            <td>Bloomie's Flower Shop</td>
            <td>21 North 2nd Street</td>
            <td>Easton</td>
            <td>PA</td>
          </tr>
          
          <tr>
            <td>bocu</td>
            <td>111 Bolton Street</td>
            <td>Boston</td>
            <td>MA</td>
          </tr>
          
          <tr>
            <td>Bootstrap Farm Club</td>
            <td>1 Scraggy Neck Ext</td>
            <td>Cataumet</td>
            <td>MA</td>
          </tr>
          
          <tr>
            <td>Box + Wood Gift Company</td>
            <td>833 Hightower Church Road</td>
            <td>Dahlonega</td>
            <td>GA</td>
          </tr>
          
          <tr>
            <td>Box Turtle</td>
            <td>2616 Kavanaugh Blvd</td>
            <td>Little Rock</td>
            <td>AR</td>
          </tr>
          
          <tr>
            <td>Bradley’s</td>
            <td>141 N. Peters RD.</td>
            <td>Knoxville</td>
            <td>TN</td>
          </tr>
          
          <tr>
            <td>Branded Products Import &amp; Export</td>
            <td>16353 sw 29 street</td>
            <td>Miramar</td>
            <td>FL</td>
          </tr>
          
          <tr>
            <td>Brandie-Nicole cosmetics</td>
            <td>424 Steele St</td>
            <td>Rockingham</td>
            <td>NC</td>
          </tr>
          
          <tr>
            <td>Brooklyn only foods</td>
            <td>78 Henry Street</td>
            <td>Brooklyn</td>
            <td>NY</td>
          </tr>
          
          <tr>
            <td>Broome St. General Store</td>
            <td>2912 Rowena Ave.</td>
            <td>Los Angeles</td>
            <td>CA</td>
          </tr>
          
          <tr>
            <td>Cactus Blossom Collective</td>
            <td>617 N 2nd Street</td>
            <td>Livingston</td>
            <td>MT</td>
          </tr>
          
          <tr>
            <td>Café Montrose</td>
            <td>3459 North Verdugo Road</td>
            <td>Glendale</td>
            <td>CA</td>
          </tr>
          
          <tr>
            <td>Cali Rosina</td>
            <td>47905 Sumac Street</td>
            <td>La Quinta</td>
            <td>CA</td>
          </tr>
          
          <tr>
            <td>Canopy by Hilton Charlotte Southpark</td>
            <td>4905 Barclay Downs Drive</td>
            <td>Charlotte</td>
            <td>NC</td>
          </tr>
          
          <tr>
            <td>ChocolateMKE</td>
            <td>829 East Brady Street</td>
            <td>Milwaukee</td>
            <td>WI</td>
          </tr>
          
          <tr>
            <td>Commissary</td>
            <td>1217 Main Street</td>
            <td>Dallas</td>
            <td>TX</td>
          </tr>
          
          <tr>
            <td>Communal Coffee</td>
            <td>2221 Fern Street</td>
            <td>San Diego</td>
            <td>CA</td>
          </tr>
          
          <tr>
            <td>Cookies &amp; Dreams</td>
            <td>217 East 2nd Street</td>
            <td>Davenport</td>
            <td>IA</td>
          </tr>
          
          <tr>
            <td>CoolVines on Grove</td>
            <td>276 Grove Street</td>
            <td>Jersey City</td>
            <td>NJ</td>
          </tr>
          
          <tr>
            <td>Copper Robin</td>
            <td>2816 E HOLMES AVE</td>
            <td>CUDAHY</td>
            <td>WI</td>
          </tr>
          
          <tr>
            <td>Crose Nest Collective</td>
            <td>35 Main St</td>
            <td>Hudson</td>
            <td>MA</td>
          </tr>
          
          <tr>
            <td>curds&amp;co</td>
            <td>283 Harvard Street</td>
            <td>Brookline</td>
            <td>MA</td>
          </tr>
          
          <tr>
            <td>Dolly’s Florist</td>
            <td>14700 Northwest 7th Avenue</td>
            <td>Miami</td>
            <td>FL</td>
          </tr>
          
          <tr>
            <td>Drift Day Spa</td>
            <td>77 State Road</td>
            <td>Dartmouth</td>
            <td>MA</td>
          </tr>
          
          <tr>
            <td>DROOZ and Company</td>
            <td>36 East Genesee Street</td>
            <td>Skaneateles</td>
            <td>NY</td>
          </tr>
          
          <tr>
            <td>Eastport General Store LLC</td>
            <td>510 Montauk Highway</td>
            <td>Eastport</td>
            <td>NY</td>
          </tr>
          
          <tr>
            <td>Encore Chocolates and Teas</td>
            <td>116 5th Avenue SE</td>
            <td>Olympia</td>
            <td>WA</td>
          </tr>
          
          <tr>
            <td>Essex Eats (aka Ice Cream Cafe)</td>
            <td>2314 Lakeshore Road</td>
            <td>Essex</td>
            <td>NY</td>
          </tr>
          
          <tr>
            <td>Eugene Toriko</td>
            <td>2849 Fairburn Rd</td>
            <td>Atlanta</td>
            <td>GA</td>
          </tr>
          
          <tr>
            <td>Fara's Flock</td>
            <td>2523 Timber Court Southeast</td>
            <td>Olympia</td>
            <td>WA</td>
          </tr>
          
          <tr>
            <td>Fixxation Boutique</td>
            <td>10216 Spoonbill Rd E</td>
            <td>Bradenton</td>
            <td>FL</td>
          </tr>
          
          <tr>
            <td>Forge</td>
            <td>70 Carpenter Street</td>
            <td>Red Bank</td>
            <td>NJ</td>
          </tr>
          
          <tr>
            <td>Freckled Hen Farmhouse</td>
            <td>840 North College Avenue</td>
            <td>Fayetteville</td>
            <td>AR</td>
          </tr>
          
          <tr>
            <td>Fresh Start</td>
            <td>29-13 23rd Ave</td>
            <td>Astoria</td>
            <td>NY</td>
          </tr>
          
          <tr>
            <td>Gaylord Texan Resort</td>
            <td>1501 Gaylord Trail</td>
            <td>Grapevine</td>
            <td>TX</td>
          </tr>
          
          <tr>
            <td>Genara</td>
            <td>3518 White Oak Dr</td>
            <td>Houston</td>
            <td>TX</td>
          </tr>
          
          <tr>
            <td>Geometry Kids</td>
            <td>48 Grand Street</td>
            <td>Brooklyn</td>
            <td>NY</td>
          </tr>
          
          <tr>
            <td>Gifted</td>
            <td>10721 NW 11th AVE</td>
            <td>Vancouver</td>
            <td>WA</td>
          </tr>
          
          <tr>
            <td>Gifted &amp; Glory</td>
            <td>1831 Coolidge Avenue</td>
            <td>Willow Grove</td>
            <td>PA</td>
          </tr>
          
          <tr>
            <td>Giften Market</td>
            <td>1460 Lake Drive West</td>
            <td>Chanhassen</td>
            <td>MN</td>
          </tr>
          
          <tr>
            <td>Gloria Jewel</td>
            <td>38 gingerbread Lane</td>
            <td>East Hampton</td>
            <td>NY</td>
          </tr>
          
          <tr>
            <td>Gold Leaf</td>
            <td>2225 30th Street</td>
            <td>San Diego</td>
            <td>CA</td>
          </tr>
          
          <tr>
            <td>Golden Fig Fine Foods</td>
            <td>794 Grand Avenue</td>
            <td>St. Paul</td>
            <td>MN</td>
          </tr>
          
          <tr>
            <td>GOLDEN RULE</td>
            <td>350 Water Street</td>
            <td>Excelsior</td>
            <td>MN</td>
          </tr>
          
          <tr>
            <td>Golden Sol Floral Co.</td>
            <td>7332 East Avenue Juarez</td>
            <td>Anaheim</td>
            <td>CA</td>
          </tr>
          
          <tr>
            <td>Good Sister</td>
            <td>6523 California Avenue Southwest</td>
            <td>Seattle</td>
            <td>WA</td>
          </tr>
          
          <tr>
            <td>Grant Street Grocery &amp; Market</td>
            <td>815 S. Grant Ave</td>
            <td>Casper</td>
            <td>WY</td>
          </tr>
          
          <tr>
            <td>Gratitude Collaborative</td>
            <td>4229 laurelgrove ave</td>
            <td>Studio City</td>
            <td>CA</td>
          </tr>
          
          <tr>
            <td>Hair Gallery at the Mill</td>
            <td>2 Tunxis Road</td>
            <td>Tariffville</td>
            <td>CT</td>
          </tr>
          
          <tr>
            <td>Harvest Organic Market</td>
            <td>25 N5 Street</td>
            <td>Brooklyn</td>
            <td>NY</td>
          </tr>
          
          <tr>
            <td>Hawks View Winery</td>
            <td>20210 Southwest Conzelmann Road</td>
            <td>Sherwood</td>
            <td>OR</td>
          </tr>
          
          <tr>
            <td>Healing leaf botanicals</td>
            <td>2031 Glenn Ferry Ct</td>
            <td>Pfafftown</td>
            <td>NC</td>
          </tr>
          
          <tr>
            <td>Healthy L.I.F.E. Center</td>
            <td>603 S. Arthur Place</td>
            <td>Kennewick</td>
            <td>WA</td>
          </tr>
          
          <tr>
            <td>Hearth &amp; Hammer General</td>
            <td>319 Main Street</td>
            <td>Batavia</td>
            <td>IL</td>
          </tr>
          
          <tr>
            <td>Helen's Bottle Shop</td>
            <td>7 Curtis Square</td>
            <td>Gloucester</td>
            <td>MA</td>
          </tr>
          
          <tr>
            <td>Howley Street Pet Boutique</td>
            <td>400 N. Seymour Ave</td>
            <td>Mundelein</td>
            <td>IL</td>
          </tr>
          
          <tr>
            <td>Hunter Gatherer</td>
            <td>4270 Kilauea Road</td>
            <td>Kilauea</td>
            <td>HI</td>
          </tr>
          
          <tr>
            <td>Hurleyville General Store</td>
            <td>227 Main Street</td>
            <td>Hurleyville</td>
            <td>NY</td>
          </tr>
          
          <tr>
            <td>Instantelopements</td>
            <td>70-50 Austin Street, Suite LL 116</td>
            <td>Forest Hill</td>
            <td>NY</td>
          </tr>
          
          <tr>
            <td>Jazzy Boutique</td>
            <td>1049 Broad Avenue</td>
            <td>Rostraver</td>
            <td>PA</td>
          </tr>
          
          <tr>
            <td>Jen’s Pirate Booty</td>
            <td>61729 Twentynine Palms Highway</td>
            <td>Joshua Tree</td>
            <td>CA</td>
          </tr>
          
          <tr>
            <td>Joy by Delux</td>
            <td>2163 Cole Street</td>
            <td>Birmingham</td>
            <td>MI</td>
          </tr>
          
          <tr>
            <td>Jupiter Row</td>
            <td>31 N Main St.</td>
            <td>ashland</td>
            <td>OR</td>
          </tr>
          
          <tr>
            <td>Kind Goods</td>
            <td>25 Maple Street</td>
            <td>Maynard</td>
            <td>MA</td>
          </tr>
          
          <tr>
            <td>Kindred Boheme</td>
            <td>301 South Rangeline Road</td>
            <td>Carmel</td>
            <td>IN</td>
          </tr>
          
          <tr>
            <td>Kindred Co.</td>
            <td>3220 Orchard Court</td>
            <td>White Bear Lake</td>
            <td>MN</td>
          </tr>
          
          <tr>
            <td>Landmarks Emporium</td>
            <td>8670 west state road 56</td>
            <td>french lick</td>
            <td>IN</td>
          </tr>
          
          <tr>
            <td>Len Collective</td>
            <td>715 Higuera St.</td>
            <td>San Luis Obispo</td>
            <td>CA</td>
          </tr>
          
          <tr>
            <td>Little Swiss Chalet</td>
            <td>924 Church Street</td>
            <td>Redlands</td>
            <td>CA</td>
          </tr>
          
          <tr>
            <td>Little Vine</td>
            <td>1541 Grant Ave</td>
            <td>San francisco</td>
            <td>CA</td>
          </tr>
          
          <tr>
            <td>Long Weekend</td>
            <td>262 Goff Rd</td>
            <td>Livingston Manor</td>
            <td>NY</td>
          </tr>
          
          <tr>
            <td>LUCCA great finds</td>
            <td>5332 Ballard Avenue Northwest</td>
            <td>Seattle</td>
            <td>WA</td>
          </tr>
          
          <tr>
            <td>Lux a Bridal Shop</td>
            <td>2195 Secoffee Street</td>
            <td>Miami</td>
            <td>FL</td>
          </tr>
          
          <tr>
            <td>LUX BOX CO</td>
            <td>517 Forest Avenue</td>
            <td>Portland</td>
            <td>ME</td>
          </tr>
          
          <tr>
            <td>Luxe Line</td>
            <td>4125 Easter Island Circle</td>
            <td>ANCHORAGE</td>
            <td>AK</td>
          </tr>
          
          <tr>
            <td>Mac Market</td>
            <td>1140 Northeast Alpine Avenue</td>
            <td>McMinnville</td>
            <td>OR</td>
          </tr>
          
          <tr>
            <td>Matriarch</td>
            <td>5241 el rio ave</td>
            <td>los angeles</td>
            <td>CA</td>
          </tr>
          
          <tr>
            <td>MerMarché</td>
            <td>301 South Rangeline Road</td>
            <td>Carmel</td>
            <td>IN</td>
          </tr>
          
          <tr>
            <td>Moab Made</td>
            <td>87 North Main Street</td>
            <td>Moab</td>
            <td>UT</td>
          </tr>
          
          <tr>
            <td>Monarch Face &amp; Body</td>
            <td>20 Maclean Lane</td>
            <td>Nantucket</td>
            <td>MA</td>
          </tr>
          
          <tr>
            <td>Nahcotta</td>
            <td>110 Congress Street</td>
            <td>Portsmouth</td>
            <td>NH</td>
          </tr>
          
          <tr>
            <td>Narratology</td>
            <td>307 Latimer Boulevard</td>
            <td>Wilmore</td>
            <td>KY</td>
          </tr>
          
          <tr>
            <td>New General</td>
            <td>155 East New England Avenue</td>
            <td>Winter Park</td>
            <td>FL</td>
          </tr>
          
          <tr>
            <td>New Wave</td>
            <td>1406 South 13th Street</td>
            <td>Omaha</td>
            <td>NE</td>
          </tr>
          
          <tr>
            <td>Newtonville Books</td>
            <td>10 Langley Rd, Suite 102</td>
            <td>Newton</td>
            <td>MA</td>
          </tr>
          
          <tr>
            <td>Not Too Shabby</td>
            <td>318 North Clinton Street</td>
            <td>Carthage</td>
            <td>NY</td>
          </tr>
          
          <tr>
            <td>Obello &amp; Co.</td>
            <td>2728 Sherwood Hall Lane</td>
            <td>ALEXANDRIA</td>
            <td>VA</td>
          </tr>
          
          <tr>
            <td>October Moon</td>
            <td>119 East Cesar Chavez Ave.</td>
            <td>Lansing</td>
            <td>MI</td>
          </tr>
          
          <tr>
            <td>Ojas Wellness, Massage and Skin Care</td>
            <td>27 thomas shilling ct</td>
            <td>upperco</td>
            <td>MD</td>
          </tr>
          
          <tr>
            <td>Olives and Grace</td>
            <td>623 tremont st</td>
            <td>boston</td>
            <td>MA</td>
          </tr>
          
          <tr>
            <td>Onthewaybox</td>
            <td>600 N CENTRAL AVE #528</td>
            <td>Glendale</td>
            <td>CA</td>
          </tr>
          
          <tr>
            <td>Ooh La Shoppe LLC</td>
            <td>25 The Plaza</td>
            <td>Locust Valley</td>
            <td>NY</td>
          </tr>
          
          <tr>
            <td>Ooo La La</td>
            <td>2413 SE Dixie Hwy</td>
            <td>Stuart</td>
            <td>FL</td>
          </tr>
          
          <tr>
            <td>Palmetto Cotton</td>
            <td>2115 West Roosevelt Boulevard</td>
            <td>Monroe</td>
            <td>NC</td>
          </tr>
          
          <tr>
            <td>Pampering Club</td>
            <td>84 Park Manor Dr</td>
            <td>Daly City</td>
            <td>CA</td>
          </tr>
          
          <tr>
            <td>Pane d'Amore Artisan Bakery</td>
            <td>4569 Lynwood Center Road Northeast</td>
            <td>Bainbridge Island</td>
            <td>WA</td>
          </tr>
          
          <tr>
            <td>Paper &amp; Clay</td>
            <td>486 N Hollywood St</td>
            <td>MEMPHIS</td>
            <td>TN</td>
          </tr>
          
          <tr>
            <td>Parker &amp; Otis</td>
            <td>1011 ARNETTE AVE</td>
            <td>DURHAM</td>
            <td>NC</td>
          </tr>
          
          <tr>
            <td>Persika Design Co.</td>
            <td>2478 N 68th St</td>
            <td>Wauwatosa</td>
            <td>WI</td>
          </tr>
          
          <tr>
            <td>PhAMEL’S</td>
            <td>230</td>
            <td>RUTHERFORDTON</td>
            <td>NC</td>
          </tr>
          
          <tr>
            <td>Pinch &amp; Pour</td>
            <td>2603 Kirsten Lane South</td>
            <td>Fargo</td>
            <td>ND</td>
          </tr>
          
          <tr>
            <td>Poppins</td>
            <td>7388 Main Street</td>
            <td>Mackinac Island</td>
            <td>MI</td>
          </tr>
          
          <tr>
            <td>Poppy</td>
            <td>920 East Broadway</td>
            <td>Columbia Township</td>
            <td>MO</td>
          </tr>
          
          <tr>
            <td>Popup Florist</td>
            <td>504 e 5th st</td>
            <td>New York</td>
            <td>NY</td>
          </tr>
          
          <tr>
            <td>Power and Light Press</td>
            <td>601 North Bullard Street</td>
            <td>Silver City</td>
            <td>NM</td>
          </tr>
          
          <tr>
            <td>Pristine Gifting Studio</td>
            <td>19809 Bazzellton Pl</td>
            <td>Montgomery Village</td>
            <td>MD</td>
          </tr>
          
          <tr>
            <td>Providore Fine Foods</td>
            <td>2340 Northeast Sandy Boulevard</td>
            <td>Portland</td>
            <td>OR</td>
          </tr>
          
          <tr>
            <td>Purpose Coffee Co.</td>
            <td>12 Prairie View Road</td>
            <td>Dalhart</td>
            <td>TX</td>
          </tr>
          
          <tr>
            <td>QuickSip Delivery</td>
            <td>738 S 11th St</td>
            <td>Philadelphia</td>
            <td>PA</td>
          </tr>
          
          <tr>
            <td>R&amp;D Foods</td>
            <td>602 Vanderbilt Avenue</td>
            <td>Brooklyn</td>
            <td>NY</td>
          </tr>
          
          <tr>
            <td>Rare Bird</td>
            <td>3883 Piedmont Ave</td>
            <td>Oakland</td>
            <td>CA</td>
          </tr>
          
          <tr>
            <td>Rebel Cheese</td>
            <td>4213 Endcliffe Drive</td>
            <td>Austin</td>
            <td>TX</td>
          </tr>
          
          <tr>
            <td>Reva's Outrageous Cookies</td>
            <td>83 Birch Hill Road</td>
            <td>Weston</td>
            <td>CT</td>
          </tr>
          
          <tr>
            <td>Royal Crest Farm, LLC.</td>
            <td>16 Howe Road</td>
            <td>Spencer</td>
            <td>MA</td>
          </tr>
          
          <tr>
            <td>S.T.I.L.</td>
            <td>2940 Broadway Street</td>
            <td>Eureka</td>
            <td>CA</td>
          </tr>
          
          <tr>
            <td>Salt &amp; Shea Skin Apothecary</td>
            <td>8409 Gonzaga Ct</td>
            <td>sacramento</td>
            <td>CA</td>
          </tr>
          
          <tr>
            <td>SALT Shop</td>
            <td>813 Fort Street</td>
            <td>Victoria</td>
            <td>BC</td>
          </tr>
          
          <tr>
            <td>SCOUT of Marion, 725 11th st, Marion, IA 52302</td>
            <td>725 11th Street</td>
            <td>Marion</td>
            <td>IA</td>
          </tr>
          
          <tr>
            <td>Scrumptious Secrets</td>
            <td>95 West Main Street, #133</td>
            <td>Chester</td>
            <td>NJ</td>
          </tr>
          
          <tr>
            <td>Second Flight Books</td>
            <td>2200 Elmwood Avenue</td>
            <td>Lafayette</td>
            <td>IN</td>
          </tr>
          
          <tr>
            <td>Second Mouse Cheese Shop</td>
            <td>357 Manville Road</td>
            <td>Pleasantville</td>
            <td>NY</td>
          </tr>
          
          <tr>
            <td>Seu 8600 Southeast</td>
            <td>36th Street Mercer Island</td>
            <td>Mercer Island</td>
            <td>WA</td>
          </tr>
          
          <tr>
            <td>Seu Flowers</td>
            <td>8600 Southeast 36th Street</td>
            <td>Mercer Island</td>
            <td>WA</td>
          </tr>
          
          <tr>
            <td>Shamila</td>
            <td>4464 Fremont Ave North, #402</td>
            <td>Seattle</td>
            <td>WA</td>
          </tr>
          
          <tr>
            <td>Shubie's Marketplace</td>
            <td>16 Atlantic Avenue</td>
            <td>marblehead</td>
            <td>MA</td>
          </tr>
          
          <tr>
            <td>Small Packages</td>
            <td>3250 Amber Street</td>
            <td>Philadelphia</td>
            <td>PA</td>
          </tr>
          
          <tr>
            <td>South Congress Hotel</td>
            <td>1603 South Congress Avenue</td>
            <td>Austin</td>
            <td>TX</td>
          </tr>
          
          <tr>
            <td>Spirited Boutiques</td>
            <td>825 Jamerson Road</td>
            <td>Marietta</td>
            <td>GA</td>
          </tr>
          
          <tr>
            <td>Spring Brook Farm Country Store</td>
            <td>591 Great Road</td>
            <td>Littleton</td>
            <td>MA</td>
          </tr>
          
          <tr>
            <td>Sprinkles Potomac</td>
            <td>10148 River Road</td>
            <td>Potomac</td>
            <td>MD</td>
          </tr>
          
          <tr>
            <td>Starflower</td>
            <td>3564 SE Hawthorne</td>
            <td>Portland</td>
            <td>OR</td>
          </tr>
          
          <tr>
            <td>Stephanie's</td>
            <td>735 Cleveland Ave. S.</td>
            <td>SAINT PAUL</td>
            <td>MN</td>
          </tr>
          
          <tr>
            <td>Sterling Engagements | SE Expressions</td>
            <td>13830 Albers Street</td>
            <td>Los Angeles</td>
            <td>CA</td>
          </tr>
          
          <tr>
            <td>Still Water Studio</td>
            <td>1107 Minnesota Street</td>
            <td>Borger</td>
            <td>TX</td>
          </tr>
          
          <tr>
            <td>Sugar House</td>
            <td>25 Maple Street</td>
            <td>Maynard</td>
            <td>MA</td>
          </tr>
          
          <tr>
            <td>Sukha Yoga Austin</td>
            <td>2709 Pecos Street</td>
            <td>Austin</td>
            <td>TX</td>
          </tr>
          
          <tr>
            <td>Sunset Strip Liquor</td>
            <td>11740 wilshire blvd #A2110 west</td>
            <td>Hollywood</td>
            <td>CA</td>
          </tr>
          
          <tr>
            <td>Sunshine Drip</td>
            <td>306 North Main Street</td>
            <td>Coupeville</td>
            <td>WA</td>
          </tr>
          
          <tr>
            <td>Sweet Pierre's</td>
            <td>5 River Road</td>
            <td>Wilton</td>
            <td>CT</td>
          </tr>
          
          <tr>
            <td>Sweet P's Pantry</td>
            <td>169 East Wisconsin Avenue</td>
            <td>Oconomowoc</td>
            <td>WI</td>
          </tr>
          
          <tr>
            <td>Swigg</td>
            <td>1601 Concord Pike</td>
            <td>Wilmington</td>
            <td>DE</td>
          </tr>
          
          <tr>
            <td>TasteNY Grand Central</td>
            <td>89e 42nd Street</td>
            <td>New York</td>
            <td>NY</td>
          </tr>
          
          <tr>
            <td>TBA</td>
            <td>2076 Eric Shaefer Way</td>
            <td>Baltimore</td>
            <td>MD</td>
          </tr>
          
          <tr>
            <td>The Bloomwell</td>
            <td>213 Park Place</td>
            <td>Ithaca</td>
            <td>NY</td>
          </tr>
          
          <tr>
            <td>The B's Nest</td>
            <td>19 Elliot Street</td>
            <td>Brattleboro</td>
            <td>VT</td>
          </tr>
          
          <tr>
            <td>The Cheese Board</td>
            <td>247 California Avenue</td>
            <td>Reno</td>
            <td>NV</td>
          </tr>
          
          <tr>
            <td>The Cheese Iron</td>
            <td>200 U.S. 1</td>
            <td>Scarborough</td>
            <td>ME</td>
          </tr>
          
          <tr>
            <td>The Collective Shop LLC</td>
            <td>4201 Courtland Drive</td>
            <td>Metairie</td>
            <td>LA</td>
          </tr>
          
          <tr>
            <td>The Cottage</td>
            <td>38 Independence Way</td>
            <td>Jersey City</td>
            <td>NJ</td>
          </tr>
          
          <tr>
            <td>The Epicurean Trader</td>
            <td>2200 Jerrold Ave</td>
            <td>San Francisco</td>
            <td>CA</td>
          </tr>
          
          <tr>
            <td>The Hive Salon Co.</td>
            <td>3368 Southwest Fairway Point Drive</td>
            <td>Oak Harbor</td>
            <td>WA</td>
          </tr>
          
          <tr>
            <td>The Joule Hotel</td>
            <td>1530 Main Street</td>
            <td>Dallas</td>
            <td>TX</td>
          </tr>
          
          <tr>
            <td>The Kismet Table</td>
            <td>2142 N Halsted</td>
            <td>Chicago</td>
            <td>IL</td>
          </tr>
          
          <tr>
            <td>The Market on Main</td>
            <td>3661 S Hwy 27</td>
            <td>Somerset</td>
            <td>KY</td>
          </tr>
          
          <tr>
            <td>The Meadow</td>
            <td>523 Hudson Street</td>
            <td>New York</td>
            <td>NY</td>
          </tr>
          
          <tr>
            <td>The Merrygold Shop</td>
            <td>511 Mercy Street</td>
            <td>Philadelphia</td>
            <td>PA</td>
          </tr>
          
          <tr>
            <td>The Mission Mama</td>
            <td>52531 188th Street Street</td>
            <td>Lake Crystal</td>
            <td>MN</td>
          </tr>
          
          <tr>
            <td>The Organic Gypsy</td>
            <td>1515 Howard Street</td>
            <td>Kalamazoo</td>
            <td>MI</td>
          </tr>
          
          <tr>
            <td>The Perish Trust</td>
            <td>728 Divisadero Street</td>
            <td>San Francisco,</td>
            <td>CA</td>
          </tr>
          
          <tr>
            <td>The Plant Ally</td>
            <td>11555 Eagle Creek Rd</td>
            <td>Leavenworth</td>
            <td>WA</td>
          </tr>
          
          <tr>
            <td>The Tusten Cup</td>
            <td>8 Main Street</td>
            <td>Narrowsburg</td>
            <td>NY</td>
          </tr>
          
          <tr>
            <td>The Village Bakery and Cafe</td>
            <td>The Village Bakery &amp; Cafe</td>
            <td>Woodside</td>
            <td>CA</td>
          </tr>
          
          <tr>
            <td>The Xocolate Bar</td>
            <td>The Xocolate Bar</td>
            <td>Berkeley</td>
            <td>CA</td>
          </tr>
          
          <tr>
            <td>Tiptop Coffee Co</td>
            <td>216 East Ave</td>
            <td>Thomas</td>
            <td>WV</td>
          </tr>
          
          <tr>
            <td>Toscana To Go</td>
            <td>1412 North Dupont Street</td>
            <td>Wilmington</td>
            <td>DE</td>
          </tr>
          
          <tr>
            <td>Treat Love</td>
            <td>755 Virginia Avenue</td>
            <td>Atlanta</td>
            <td>GA</td>
          </tr>
          
          <tr>
            <td>TREATS</td>
            <td>80 Main Street</td>
            <td>Wiscasset</td>
            <td>ME</td>
          </tr>
          
          <tr>
            <td>Tuesday's Sweet Shoppe</td>
            <td>6440 East Pacific Coast Highway</td>
            <td>Long Beach</td>
            <td>CA</td>
          </tr>
          
          <tr>
            <td>Tyler Kingston Mercantile</td>
            <td>8221 Corinth Mall</td>
            <td>Prairie Village</td>
            <td>KS</td>
          </tr>
          
          <tr>
            <td>TYSM Gifts</td>
            <td>1270 Carbide Drive</td>
            <td>Corona</td>
            <td>CA</td>
          </tr>
          
          <tr>
            <td>Valleybrink Road</td>
            <td>4523 San Fernando Rd.</td>
            <td>Glendale</td>
            <td>CA</td>
          </tr>
          
          <tr>
            <td>Village Common Mercantile</td>
            <td>404 main street</td>
            <td>catskill</td>
            <td>NY</td>
          </tr>
          
          <tr>
            <td>Vintages by the Dan</td>
            <td>312 Main St</td>
            <td>Danville</td>
            <td>VA</td>
          </tr>
          
          <tr>
            <td>volcano veggies</td>
            <td>61397 Elkhorn St</td>
            <td>Bend</td>
            <td>OR</td>
          </tr>
          
          <tr>
            <td>Well Wish</td>
            <td>15 NW 26th Street</td>
            <td>Gainesville</td>
            <td>FL</td>
          </tr>
          
          <tr>
            <td>White Horse Coffee &amp; Creamery</td>
            <td>700 West Avenue</td>
            <td>Jenkintown</td>
            <td>PA</td>
          </tr>
          
          <tr>
            <td>Wild Heather</td>
            <td>169 Winslow Way East</td>
            <td>Bainbridge Island</td>
            <td>WA</td>
          </tr>
          
          <tr>
            <td>Willow</td>
            <td>4323 NEW HAMPSHIRE AVENUE NW</td>
            <td>WASHINGTON</td>
            <td>DC</td>
          </tr>
          
          <tr>
            <td>Willow Rest</td>
            <td>1 Holly Street</td>
            <td>Gloucester</td>
            <td>MA</td>
          </tr>
          
          <tr>
            <td>Wolf &amp; Rebel</td>
            <td>409 John Harvey Crescent</td>
            <td>Windsor</td>
            <td>ON</td>
          </tr>
          
          <tr>
            <td>YOUNG BLOOD</td>
            <td>172 Haynes Street Southwest</td>
            <td>Atlanta</td>
            <td>GA</td>
          </tr>
          
        </tbody>
      </table></div>
  </div>
</div>
</div>