      <div class="container wholesale">
      {{ page.content }}
      <div class="wholesale-form" style="text-align: center; padding: 40px 20px;">
        <iframe
          src="https://www.faire.com/embed/bw_dn7stucw8a"
          width="900" height="600" scrolling="no"
          style="margin: 0 auto; border: none; display: block; max-width: 100%; width: 900px; height: 600px;">
        </iframe>
      </div>
      </div>
      {% schema %}
      {
        "name": "Wholesale Form",
        "settings": []
      }
      {% endschema %}
      
      {% stylesheet %}
      {% endstylesheet %}
      
      {% javascript %}
      {% endjavascript %}